
<div [ngClass]="{'page-form-wrapper show-form': this.loginService.formActive, 'hide-form': !this.loginService.formActive }">
  <span [ngClass]="'close-cross'" (click)="loginButton()">x</span>
  <app-my-login></app-my-login>
</div>


<div [ngClass]="{'loading-screen': !this.loginService.pageLoad, 'hide-form': this.loginService.pageLoad}">
    <div class="loading"></div>
</div>


<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="#">News Hub</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" [routerLink]="['']" routerLinkActive="active active-link" [routerLinkActiveOptions]="{exact: true}">Home <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" [routerLink]="['/users']" routerLinkActive="active active-link">Users</a>
              <a class="nav-item nav-link" *ngIf="loginService.loginSucess" [routerLink]="['/profile']" routerLinkActive="active active-link">Profile</a>
            </div>
            <form class="form-inline my-2 my-lg-0 float-right">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
</header>
  <router-outlet ></router-outlet>
<app-news-main-footer></app-news-main-footer>

